@charset "UTF-8";
.nav-bg {
	background-color: #F3E9DC;
}

.nav-link {
	color: #CA884B;
}

.nav-link:hover, .nav-link:focus  {
	color: #82BBB5;
}

.navbar-brand {
	color: #82BBB5;
}

.navbar-brand:hover {
	color: #CA884B;
}

.custom-toggler .navbar-toggler-icon {

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(202,136,75, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}


body {
	color: #30323D;
	font-family: josefin-sans, sans-serif;
	font-style: normal;
	font-weight: 400;
}


.hero {
	background-color: #F3E9DC;
	padding-top: 100px;
}

/**********WORKS**********/
.work {
	background-color: #F3E9DC;
	padding-top: 100px;
	padding-bottom: 30px;
	color: #30323D;
}
/*works image hover effect*/
/*.work-container {
  position: relative;
  width: 50%;
}*/

.work-container:hover .work-image {
  opacity: 0.3;
}

.work-container:hover .work-description-box {
  opacity: 1;
}

.work-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .1s ease;
  backface-visibility: hidden;
}

.work-description-box {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.work-description {
  background-color: #82BBB5;
  color: #F3E9DC;
  font-size: 16px;
  padding: 16px 32px;
}



/**********CONTACT**********/
.contact {
	background-color: #82BBB5;
	padding-top: 30px;
	padding-bottom: 80px;
	color: #30323D;
}

.footer {
	background-color: #30323D; 
	color: #F3E9DC;
}

h3 {
	padding-bottom: 20px;
}

p {
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 12px;
	margin-top: 10px;
}

.btn {
	color:#F3E9DC;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
  	line-height: 1.5;
	background-color: #CA884B;
}

.btn:hover {
	color:#F3E9DC;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 20px;
  	line-height: 1.5;
	background-color: #CA884B;
	box-shadow: 2px 2px 5px #888888;
}


i {
	margin:20px 10px 0 10px;
	color: #F3E9DC;
}

i:hover {
	color: #CA884B;
}


/**********MEDIA QUERY**********/

@media screen and (min-width:768px){
h1 {
	font-size: 50px;
}
}
